<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.np.mapper.ServiceMapper">

	<select id="getTotalCount" resultType="int">
	select count(*) from np_service
	</select>

	<insert id="insert">
		<selectKey keyProperty="sno" resultType="int" order="BEFORE">
			select seq_service.nextval from dual
		</selectKey>
		insert into np_service (sno, content, category, artist_id, title, 
		latstart, lngstart, lattarget, lngtarget, studio, pickup, starttime, endtime, registerdate)
		values(#{sno}, #{content}, #{category},#{artist_id},#{title},#{latStart},
		#{lngStart}, #{latTarget}, #{lngTarget}, #{studio}, #{pickUp}, #{startTime}, #{endTime}, sysdate)
	</insert>
	
	<select id="getRecList" resultType="org.np.domain.ArtistVO">
		select*from (select * from np_artist order by dbms_random.value)
		<![CDATA[ where rownum <= 4]]>
	</select>
	
	<select id="searchByCategory" resultType="org.np.domain.ServiceVO">
		select * from np_service where category = #{category}	
	</select>
	
	<!-- <select resultType="org.np.domain.ServiceVO" id="searchList">
		select * from np_service 
		<where>
			<if test="type != null and keyword != null">
				<trim prefix="and (" suffix=")" prefixOverrides="OR">
					<foreach collection="arr" item="type">
						<trim prefix="OR">
							<choose>
								<when test="type=='T'.toString()">title like '%'||#{keyword}||'%'</when>
								<when test="type=='C'.toString()">content like '%'||#{keyword}||'%'</when>
							</choose>
						</trim>
					</foreach>
				</trim>
			</if>
			<if test="location!=null">
				and location=#{location}
			</if>
			<if test="tagArr!=null">
				and sno in (select sno from np_service_tag where tag=
				<foreach collection="tagArr" item = "tag" close = ")" separator = "or tag=">
					#{tag}
	 			</foreach>
			</if>
		</where>
	</select> -->
	
	<select resultType="org.np.domain.ServiceVO" id="getList">
		select * from np_service
	</select>
	
	<sql id="criteria">
	
		<where>
			<if test="type==null and keyword==null">
				<trim prefix="and (" suffix=")" prefixOverrides="OR">
					<foreach collection="typeArr" item="type">
						<trim prefix="OR">
							<choose>
								<when test="type=='T'.toString()">title like '%'||#{keyword}||'%'</when>
								<when test="type=='C'.toString()">content like '%'||#{keyword}||'%'</when>
							</choose>
						</trim>
					</foreach>
				</trim>
			</if>
			<if test="location!=null">
				and location=#{location}
			</if>
			<if test="tagArr!=null">
				and sno in (select sno from np_service_tag where tag=
				<foreach collection="tagArr" item = "tag" close = ")" separator = "or tag=">
					#{tag}
	 			</foreach>
			</if>
		</where>
	</sql>
	
	<delete id="delete">
		delete from np_service where sno=#{sno}
	</delete>
	
	<select id="getBySno" resultType="org.np.domain.ServiceVO">
		select sno from np_service where sno=#{sno}
	</select>
	
	<select id="getListById" resultType="org.np.domain.ServiceVO">
		select * from np_service where artist_id=#{artistId}
	</select>
	
	<select id="getListWithPaging" resultType="org.np.domain.ServiceVO">
		<![CDATA[ 
			select *
			from
			(
			select /*+index_desc(np_service pk_service)*/
			rownum rn, sno, title, content, artist_id
			from 
				np_service
			where
		]]>	 
		<include refid="criteria"></include>
		<![CDATA[
		rownum <= #{pageNum}*#{amount}
			)
		where rn > (#{pageNum}-1)*#{amount} 
		order by sno desc
		]]>
	</select> 
	
	
	
</mapper>