<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.np.mapper.ServiceImageMapper">
	<insert id="insert">
		insert into np_service_image (uuid, uploadpath, filename, sno) 
		values (#{uuid},#{uploadPath},#{fileName},#{sno})
	</insert>
	
	<select id="getList" resultType="org.np.domain.ServiceImageVO">
		select * from np_service_image where sno=#{sno}
	</select>
</mapper>